@layer base {
  .tiptap {
    @apply relative;
    scrollbar-color: var(--color-muted-foreground) var(--sidebar);
  }

  .tiptap::-webkit-scrollbar {
    @apply h-[10px] w-[10px];
  }

  .tiptap > p:first-child {
    @apply mt-0;
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    @apply text-muted-foreground pointer-events-none float-left h-0;
  }

  .tiptap ul,
  .tiptap ol {
    @apply mt-0 mb-4 pl-8;
  }
  .tiptap li {
    @apply my-1;
  }
  .tiptap ul {
    list-style-type: disc;
  }
  .tiptap ol {
    list-style-type: decimal;
  }
  .tiptap ol ol,
  .tiptap ul ol {
    list-style-type: lower-roman;
  }
  .tiptap ul ul {
    list-style-type: circle;
  }
  .tiptap ul ul ol,
  .tiptap ul ol ol,
  .tiptap ol ul ol,
  .tiptap ol ol ol {
    list-style-type: lower-alpha;
  }

  .tiptap h1 {
    @apply mt-6 mb-4 text-2xl font-bold;
  }
  .tiptap h2 {
    @apply mt-5 mb-3 text-xl font-bold;
  }
  .tiptap h3 {
    @apply mt-4 mb-2 text-lg font-semibold;
  }

  .tiptap h4,
  .tiptap h5,
  .tiptap h6 {
    @apply text-base;
  }

  .tiptap mark {
    @apply rounded bg-[#faf594] px-1 py-[0.1rem];
  }

  .tiptap blockquote {
    @apply border-ring text-ring my-3 ml-4 border-l-4 pl-4 italic;
  }

  .tiptap hr {
    @apply border-hr my-8 border-0 border-t;
  }

  .tiptap hr.ProseMirror-selectednode {
    @apply border-hr-select;
  }

  .tiptap code {
    @apply bg-inline-code-bg text-inline-code rounded px-[0.5em] py-[0.25em] font-mono text-[85%];
  }

  .tiptap pre {
    @apply bg-code-block-bg text-foreground my-6 rounded px-3 py-2 font-mono;
  }

  .tiptap pre code {
    @apply bg-transparent p-0 text-sm text-inherit;
  }

  .tiptap pre .hljs {
    @apply block overflow-x-auto bg-[#282c34] p-2 text-[#abb2bf];
  }

  .tiptap pre .hljs-comment,
  .tiptap pre .hljs-quote {
    @apply text-[#5c6370] italic;
  }

  .tiptap pre .hljs-doctag,
  .tiptap pre .hljs-formula,
  .tiptap pre .hljs-keyword {
    @apply text-[#c678dd];
  }

  .tiptap pre .hljs-deletion,
  .tiptap pre .hljs-name,
  .tiptap pre .hljs-section,
  .tiptap pre .hljs-selector-tag,
  .tiptap pre .hljs-subst {
    @apply text-[#e06c75];
  }

  .tiptap pre .hljs-literal {
    @apply text-[#56b6c2];
  }

  .tiptap pre .hljs-addition,
  .tiptap pre .hljs-attribute,
  .tiptap pre .hljs-meta-string,
  .tiptap pre .hljs-regexp,
  .tiptap pre .hljs-string {
    @apply text-[#98c379];
  }

  .tiptap pre .hljs-built_in,
  .tiptap pre .hljs-class .hljs-title {
    @apply text-[#e6c07b];
  }

  .tiptap pre .hljs-attr,
  .tiptap pre .hljs-number,
  .tiptap pre .hljs-selector-attr,
  .tiptap pre .hljs-selector-class,
  .tiptap pre .hljs-selector-pseudo,
  .tiptap pre .hljs-template-variable,
  .tiptap pre .hljs-type,
  .tiptap pre .hljs-variable {
    @apply text-[#d19a66];
  }

  .tiptap pre .hljs-bullet,
  .tiptap pre .hljs-link,
  .tiptap pre .hljs-meta,
  .tiptap pre .hljs-selector-id,
  .tiptap pre .hljs-symbol,
  .tiptap pre .hljs-title {
    @apply text-[#61aeee];
  }

  .tiptap pre .hljs-emphasis {
    @apply italic;
  }

  .tiptap pre .hljs-strong {
    @apply font-bold;
  }

  .tiptap pre .hljs-link {
    @apply underline;
  }
}
