@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --code-block-bg: oklch(29.25% 0.0157 264.3);
  --inline-code-bg: oklch(61.02% 0.0169 90.31 / 14.9%);
  --inline-code: oklch(65.34% 0.1835 23.68);
  --hr: oklch(29.05% 0.0459 55.14 / 7.84%);
  --hr-select: oklch(0% 0 0);

  /* 마크다운 */
  --link: #0969da;
  --focus-outlineColor: #0969da;
  --fgColor-success: #1a7f37;
  --fgColor-attention: #9a6700;
  --fgColor-danger: #d1242f;
  --fgColor-done: #8250df;
  --bgColor-neutral-muted: #818b981f;
  --bgColor-attention-muted: #fff8c5;
  --borderColor-muted: #d1d9e0b3;
  --borderColor-neutral-muted: #d1d9e0b3;
  --borderColor-accent-emphasis: #0969da;
  --borderColor-success-emphasis: #1a7f37;
  --borderColor-attention-emphasis: #9a6700;
  --borderColor-danger-emphasis: #cf222e;
  --borderColor-done-emphasis: #8250df;

  /* 구문 강조 변수 */
  --color-prettylights-syntax-comment: #59636e;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-prettylights-syntax-entity: #6639ba;
  --color-prettylights-syntax-storage-modifier-import: #1f2328;
  --color-prettylights-syntax-entity-tag: #0550ae;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-brackethighlighter-angle: #59636e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #1f2328;
  --color-prettylights-syntax-markup-bold: #1f2328;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #d1d9e0;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
}

.dark {
  --background: oklch(0.145 0 0); /* className: neutral-950 | hex: #0a0a0a */
  --foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --card: oklch(0.205 0 0); /* className: neutral-900 | hex: #171717 */
  --card-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --popover: oklch(0.205 0 0); /* className: neutral-900 | hex: #171717 */
  --popover-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --primary: oklch(0.922 0 0); /* className: neutral-200 | hex: #e4e4e7 */
  --primary-foreground: oklch(0.205 0 0); /* className: neutral-900 | hex: #171717 */

  --secondary: oklch(0.269 0 0); /* className: neutral-800 | hex: #262626 */
  --secondary-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --muted: oklch(0.269 0 0); /* className: neutral-800 | hex: #262626 */
  --muted-foreground: oklch(0.708 0 0); /* hex: #a1a1a1 */

  --accent: oklch(0.269 0 0); /* className: neutral-800 | hex: #262626 */
  --accent-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --destructive: oklch(0.704 0.191 22.216); /* red | hex: #ff6467 */

  --border: oklch(1 0 0 / 10%); /* hex: #ffffff1a */
  --input: oklch(1 0 0 / 15%); /* hex: #ffffff26 */
  --ring: oklch(0.556 0 0); /* className: neutral-500 | hex: #737373 */

  --sidebar: oklch(0.205 0 0); /* className: neutral-900 | hex: #171717 */
  --sidebar-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --sidebar-primary: oklch(0.488 0.243 264.376); /* blue | hex: #1447e6 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --sidebar-accent: oklch(0.269 0 0); /* className: neutral-800 | hex: #262626 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* className: neutral-50 | hex: #fafafa */

  --sidebar-border: oklch(1 0 0 / 10%); /* className: neutral-200/10 | hex: #ffffff1a */
  --sidebar-ring: oklch(0.556 0 0); /* className: neutral-500 | hex: #737373 */

  --code-block-bg: oklch(29.25% 0.0157 264.3); /* #282c34 */
  --inline-code-bg: oklch(61.02% 0.0169 90.31 / 14.9%); /* #87837826 */
  --inline-code: oklch(65.34% 0.1835 23.68); /* #eb5757 */
  --hr: oklch(38.67% 0 0); /* #444444 */
  --hr-select: oklch(100% 0 0); /* #ffffff */

  /* 마크다운 */
  --link: #4493f8;
  --focus-outlineColor: #1f6feb;
  --fgColor-success: #3fb950;
  --fgColor-attention: #d29922;
  --fgColor-danger: #f85149;
  --fgColor-done: #ab7df8;
  --bgColor-neutral-muted: #656c7633;
  --bgColor-attention-muted: #bb800926;
  --borderColor-muted: #3d444db3;
  --borderColor-neutral-muted: #3d444db3;
  --borderColor-accent-emphasis: #1f6feb;
  --borderColor-success-emphasis: #238636;
  --borderColor-attention-emphasis: #9e6a03;
  --borderColor-danger-emphasis: #da3633;
  --borderColor-done-emphasis: #8957e5;

  /* 구문 강조 변수 */
  --color-prettylights-syntax-comment: #9198a1;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #f0f6fc;
  --color-prettylights-syntax-markup-bold: #f0f6fc;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* 스크롤바 */
  .themed-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .themed-scrollbar {
    scrollbar-color: var(--color-muted-foreground) var(--color-sidebar);
  }

  /* 스크롤바 숨기기 */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .code-block-toolbar {
    @apply bg-secondary-foreground text-secondary relative rounded-t-lg;
  }

  .user-message .code-block-toolbar {
    @apply dark:bg-background dark:text-primary;
  }
  .bot-message .code-block-toolbar {
    @apply dark:bg-secondary dark:text-secondary-foreground;
  }
}
